#nav-bar-search-bar{
    border: 1px solid black;
    border-radius: 1rem;
}

#nav-bar-search-bar:focus{
    width: 20vw;
}

#nav-bar-search-button{
    border: 1px solid transparent;
    color: white;
    font-size: 1.25rem;
    border: 1px solid transparent;
    border-radius: 2rem;
}

#nav-bar-search-button:hover, #nav-bar-search-button:active{
    background-color: white;
    color: black;
}