#nav-bar-search-bar{
    border: 2px solid black;
    border-radius: 2rem;
    height: 2.8rem;
}

#nav-bar-search-bar:focus{
    width: 15vw;
}

#nav-bar-search-button{
    color: black;
    font-size: 1.1rem;
    border: 2px solid black;
    border-radius: 3rem;
}

#nav-bar-search-button:hover, #nav-bar-search-button:active{
    background-color: black;
    color: white;
    transition-duration: 0.5s;
}