#first-card-image{
    background-image: url("../../../public/homepage/second_section_first.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#second-card-image{
    background-image: url("../../../public/homepage/second_section_second.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#third-card-image{
    background-image: url("../../../public/homepage/second_section_third.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}