@tailwind utilities;

:root {
    --header-apparent-height: 12%;
    --default-spacing: 2vw;
    --align-spacing: 0vw;
    --color-one: #A320DF;
    --color-two: #296da9;
    --white-text: #FFF;
    --upload-box-width: max(40vw, 800px);
    --upload-box-height: max(16vw, 300px);
}

body {
    background: #FFF;
    /* background-image: url("./background.jpeg"); */
}


.site-bg-dark-blue {
    background-color: #296DA9;
}

.site-text-dark-blue {
    color: #296DA9;
}

.site-border-radius {
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
}

.button {
    border: None;
    background: #1e90ff;
    width: 7.5vw;
    font-size: .85vw;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: .5s background ease-in-out
}

.button:hover {
    border: None;
    background: #0050ee
}

.button:active {
    border: None;
    opacity: .5
}


.landing-page-button {
    border: None;
    margin: 1vw 0vw 1vw;
    background: var(--color-one);
    color: white;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 14vw;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1vw;
    transition: box-shadow .5s ease-in-out, opacity .5s ease-in-out, text-shadow .5s ease-in-out
}

.landing-page-button:hover {
    box-shadow: .05vw .05vh .1vw #888;
    text-shadow: 0 0 .1vw #fff;
    opacity: .8;
}

.landing-page-button:focus {
    box-shadow: 0 0 0 #888;
    text-shadow: 0 0 0 #fff;
    opacity: .4;
}


.disable-text-highlight {
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
}



input[type="file"]{
    background: "1e90ff"
}

.upload-box-root {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: var(--upload-box-height);
    width: var(--upload-box-width);
    border-radius: max(10px, 1vw);
    background: #1e1e1e;
    border: 10px solid #AAA;
    box-shadow: 2px 2px 4px #888;
    margin: var(--default-spacing)
}

.upload-vspacing-10 {
    padding-top: 10px;
    width: 100%;
    display: inline-flex;
}

.upload-box-icon {
    height: 128px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.android-icon {
    width: 100px;
    height: 100px;
}

.upload-box-full-width {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: inline-flex;
    align-content: center;
    align-items: center;
}

.upload-box-center-bar {
    height: 28px;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
}

.upload-box-left {
    align-self: flex-start;
    float: left;
    margin-left: 32px;
}

.upload-box-right {
    align-self: flex-end;
    float: right;
    margin-right: 32px;
}

.upload-box-text-30 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    /* color: rgba(13, 13, 13, 0.5); */
    color: #FFF;
}


.upload-text-center {
    text-align: center;
}


.dropdown-item {
    @apply disable-text-highlight;
    text-align: center;
    cursor: pointer;
    transition: background .2s ease-in-out;
    color: var(--white-text)
}


.dropdown-item:hover {
    background: #DDD;
}


.dropdown {
    box-shadow: 2px 2px 4px #888;
    background: var(--color-two);
    display: flex;
    flex-direction: column;
    display: None;
    position: absolute;
    width: 160px;
    color: var(--white-text)
}


.button-holder-bottom {
    padding: 0 var(--align-spacing) 0 var(--align-spacing);
    margin: var(--default-spacing);
    width: var(--upload-box-width);
}


.float-right {
    float: right
}


.footer {
    position: absolute;
    top: 93%;
    left: 0;
    width: 100%;
    height: 7%;
    background: #E1E1E1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-child {
    height: 40px;
    background: blue;
}


input[type="text"]:focus {
    outline: none;
    box-shadow: 1px 1px 4px #888;
}


.search-field-holder{
    display: flex;
    align-items: center;
    justify-content: flex-start
}


.search-field {
    padding: .6vw .6vw .6vw 3vw;
    border: 1px solid #888;
    border-radius: 1vw;
    background: #FFF1;
    width: 40vw;
    user-select: none;
    transition: box-shadow .4s ease-in-out;
    cursor: pointer
}


.search-field:focus {
    outline: none;
    box-shadow: 1px 1px 2.5px #888
}


.search-result-item {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: min( 4vw, 38px );
    box-shadow: 1px 1px 1px #888;
    border: .5px solid black;
    border-top: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background .2s ease-in-out
}

.search-result-item:hover {
    background: #DDD;
}


.search-engine-holder {
    position: absolute;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}


#guide-tags {
    width: var(--upload-box-width);
    resize: none;
    height: 7vw;
    border-radius: .4vw;
    -webkit-border-radius: .4vw;
    border: 1px solid black;
    padding: .5vw;
    transition: box-shadow .25s ease-in-out
}

#guide-tags:focus {
    outline: none;
    box-shadow: 1px 1px 4px #888;
}


.hero {
    height: 75vh;
    width: 100vw;
    padding: 4vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #FFF;
}

.hero-content {
    display: flex;
    width: 40vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 2vw 0px 2vw;
}

.accordion-button-circle {
    background: #EEE;
    width: 20px;
    height: 20px;
    border-radius: 21px;
    margin: 2px;
    cursor: pointer;
}


.accordion-button-circle:hover {
    opacity: .5;
}

.accordion-button-holder {
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    left: 0;
    background: #FFF;
    padding-bottom: 1vw;
    border-bottom: 1px solid #EEE;

}

.wallpaper {
    background-image: url("./background.jpeg");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 500%;
    z-index: -10;
    opacity: .8;
    filter: blur(.5px)
}

.navbar {
    border-bottom: .05px solid #E1E1E1;
    box-shadow: .5px .5px 2px #E1E1E1;
}


.circle-search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 40px;
    height: 35px;
    border: none;
    margin-left: 5px;
    background: var(--color-one);
    transition: box-shadow .5s ease-in-out, opacity .5s ease-in-out, text-shadow .5s ease-in-out

}

.circle-search-button:hover {
    box-shadow: 1px 1px 2px #888;
    text-shadow: 0 0 1px #fff;
    opacity: .8;
}

.landing-page-slide-section {
    display: flex;
    justify-content: space-between;
    background: #888;
    align-items: center;
    background: #FFF;
    border-top: .1px solid #888;
    border-bottom: .1px solid #888;
    height: 80vh;
    margin-top: 8vh;
}

.slide-section-text {
    margin-right: 10vw;
}

.landing-page-slide-section-image {
    width: 38vw;
    height: 80vh;
}
