@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --default-spacing: 2vw;
    --align-spacing: 0vw;
    --color-one: #A320DF;
    --color-two: #296DA9;
    --white-text: #FFF;
    --upload-box-width: 50vw;
}

.site-bg-dark-blue {
    background-color: #296DA9;
}

.site-text-dark-blue {
    color: #296DA9;
}

.site-border-radius {
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
}

.button {
    background: #1e90ff;
    width: 5vw;
    font-size: .55vw;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: .5s background ease-in-out;
}

.button:hover {
    background: #0050ee;
}

input[type="file"]{
    background: "1e90ff"
}

.upload-box-root {
    height: 20vw;
    width: var(--upload-box-width);
    border-radius: max(10px, 1vw);
    padding-top: 40px;
    padding-bottom: 40px;
    background: #A320DF;
    background: rgba(163, 32, 223, 0.8);
    background: #1e1e1e;
    border: 10px solid #AAA;
    box-shadow: 2px 2px 4px #888;
    margin: var(--default-spacing)
}

.upload-vspacing-10 {
    padding-top: 10px;
    width: 100%;
    display: inline-flex;
}

.upload-box-icon {
    height: 128px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.android-icon {
    width: 100px;
    height: 100px;
}

.upload-box-full-width {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: inline-flex;
    align-content: center;
    align-items: center;
}

.upload-box-center-bar {
    height: 28px;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
}

.upload-box-left {
    align-self: flex-start;
    float: left;
    margin-left: 32px;
}

.upload-box-right {
    align-self: flex-end;
    float: right;
    margin-right: 32px;
}

.upload-box-text-30 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    /* color: rgba(13, 13, 13, 0.5); */
    color: #FFF;
}


.upload-text-center {
    text-align: center;
}


.dropdown-item {
    text-align: center;
    cursor: pointer;
    transition: background .2s ease-in-out;
    color: var(--white-text)
}


.dropdown-item:hover {
    background: #DDD;
}


.dropdown {
    box-shadow: 2px 2px 4px #888;
    background: #1e1e1e;
    display: flex;
    flex-direction: column;
    display: None;
    position: absolute;
    width: 160px;
    color: var(--white-text)
}


.button-holder-bottom {
    padding: 0 var(--align-spacing) 0 var(--align-spacing);
    margin: var(--default-spacing);
    width: var(--upload-box-width);
}


.float-right {
    float: right
}


.footer {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 10%;
    background: #E1E1E1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-child {
    height: 40px;
    background: blue;
}


input[type="text"]:focus {
    outline: none;
    box-shadow: 1px 1px 4px #888;
}


.search-field-holder{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.search-field {
    padding: 12px 12px 12px 3vw;
    border: 1px solid #888;
    border-radius: 4px;
    background: #FFF1;
    width: 40vw;
    user-select: none;
    transition: box-shadow .4s ease-in-out;
    cursor: pointer;
}


.search-field:focus {
    outline: none;
    box-shadow: 1px 1px 4px #888;
}


.search-result-item {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vw;
    box-shadow: 1px 1px 1px #888;
    border-radius: 2px;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.search-result-item:hover {
    background: #888;
}


.search-engine-holder {
    position: absolute;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
